a,
a:hover,
a:visited {
  color: #71C6E1;
  text-decoration: none;
}
body {
  background:  #282A36;
  color: #ffffff;
  font-family: "roboto", monospace;
  font-size: 22px;
  text-transform: capitalize;
}

footer {
  font-size: 16px;
  text-align: center;
  padding-top: 70px;
  padding-left: 60px;
  color: #f2efd0;
  white-space: nowrap;} 

  .mobile footer {
    font-size: 16px;
    text-align: center;
    padding-top: 70px;
    padding-left: 20px;
    margin-left: -20px;
    color: #f2efd0;
    white-space: nowrap;} 

  .tablet footer {
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
position: relative;
right: 80px;
margin-left: -20px;
    color: #f2efd0;
    white-space: nowrap;}

img {min-height: 80px;
  min-width: 80px;}

.mobile img {min-height: 60px;
  min-width: 60px;}

.mobile input {max-width: 230px;
position: relative;
bottom: 30px;
right: 95px;}

input,
textarea {
  padding: 7px;
  background: rgb(45, 48, 61);
  color: #f2efd0;
  border: 1px solid #b870cc;
  border-radius: 2px;
  font-size: 16px;
}

ul {
  list-style: none;
}

.App {width: 100vw;
height: 100vh;}

.btn {min-width: 115.47px;
padding: 8px 0;
margin-top: 2px;}


.celsiusFarenheit {
  margin-left: -10px;
font-size: 24px;
font-family: 'Yanone Kaffeesatz', sans-serif;}

.mobile .celsiusFarenheit {
  margin-left: -15px;
font-size: 20px;
font-family: 'Yanone Kaffeesatz', sans-serif;}

.container {min-height: 700px;
  padding: 0;
  margin-left: 7%;
  min-width: 73%;
  justify-content: center;
}

.container2 {margin-left: 2%;}
.currentIcons {
margin: -100px 0 20px 15px;
  color: #a58b98;
  width: 135px;
}

.mobile .currentIcons{
  margin: 100px 0 90px 220px;
    color: #a58b98;
    width: 135px;
  }

.mobile .currentIcons canvas {max-width: 80px;
max-height: 80px;
position: relative;
left: 50px;}

.currentSpecifics {  color: #f2efd0;
  font-size: 25px;
  margin-left: -50px;
  margin-bottom: 70px;
  font-family: 'Yanone Kaffeesatz', sans-serif;}


.dateStamp h1 {font-size: 32px;
  font-weight: 100;
  font-family: 'Yanone Kaffeesatz', sans-serif;
margin-top: 3px;
color: #b870cc;
}

.mobile .dateStamp h1 {font-size: 22px;
  font-weight: 100;
  font-family: 'Yanone Kaffeesatz', sans-serif;
margin-top: 3px;
color: #b870cc;
}

.tablet .dateStamp h1 {font-size: 26px;
  font-weight: 100;
  font-family: 'Yanone Kaffeesatz', sans-serif;
margin-top: 3px;
color: #b870cc;
}

.hereNow {
  font-size: 45px;
  color: #f0ec8c;
max-height: 58px;
}

.tablet .hereNow {
  font-size: 30px;
  color: #f0ec8c;
max-height: 58px;
}

.mobile .hereNow {
  font-size: 23px;
  color: #f0ec8c;
max-height: 58px;
}
.humidity { color:  #50fa7b; }


.iconNow {min-height: 140px;
  min-width: 140px;}


.left {float: left;}

.Loader {    margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  display: block;
width: 99%;}

.loaderAnimation {margin-top: 20px;}

.right {float: right;}

.row {position: relative;
  padding-right: 20px;
  right: 25px;
}

.pc .row {min-width: 1380px;}

.tablet .WeatherForecast {
  max-width: 900px;
  flex-wrap: nowrap;
  position: relative;
  right: 160px;
  top: 80px;
}



.mobile .row {position: relative;
  padding-right: 20px;
  right: 25px;
display: flex;
flex-direction: column;}

.mobile .col {position: relative;
  left: 10px;
bottom: 510px;
margin-bottom: 75px;}
.searchBar {  padding: 1% 0 0 57.5%;
  width: 100%;
  white-space: nowrap;
  display: flex;
  font-size: 22px;
  font-family: "roboto", monospace;
}

#searchBar {margin-right: 2%;}

.tablet .searchBar {position: relative;
right: 350px;}
.mobile .searchBar {  padding: 30px 0 0 87px;
  flex-direction: row;
  font-family: "roboto", monospace;
}

.mobile .btn {position: relative;
  top: -28px;
left: -76px;}

.submitlocations h4 {
  margin: 5px 0 0 985px;
  font-family: "roboto", monospace;
}

.tablet .submitlocations h4 {position: relative;
  margin: 5px 0 0 635px;
  font-family: "roboto", monospace;
}
.mobile  .submitlocations h4 {
  margin: 5px 0 0 316px;
  font-family: "roboto", monospace;
}
.statusNow {font-size: 32px;
  font-weight: bold;
  color:  #50fa7b;
  max-height: 46px;
}  

.mobile .statusNow {font-size: 20px;
  font-weight: bold;
  color:  #50fa7b;
  max-height: 46px;
}  

.tablet .statusNow{font-size: 26px;
  font-weight: bold;
  color:  #50fa7b;
  max-height: 46px;
}  

.tempNow {
  font-size: 54px;
  margin-top: -20px;
  margin-left: -15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
}

.mobile .tempNow {
  font-size: 32px;
  margin-top: -20px;
  margin-left: -15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
}

.thisLocation {
 position: absolute;
 left: 30%;
 top: 2%;
  text-align: center;
}
.mobile  .thisLocation {
  position: relative;
  left: -40%;
  bottom: 480px;
   text-align: right;
 }



.weather { border: 2px solid #50fa7b;
min-width: 100%;
max-height: 600px;
border-radius: 5px;
margin-top: 5px;
display: flex;

}

.mobile .weather { border: 2px solid #50fa7b;
  min-width: 350px;
  max-height: 1470px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  }

  .tablet .weather { border: 2px solid #50fa7b;
    min-width: 350px;
    max-width: 780px;
    max-height: 550px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    }

.WeatherTemperature {padding-left: 10px;}

.mobile .WeatherTemperature {position: relative;
  text-align: right;
left: -10px;
bottom: 70px;}
.windSpeed {color: #b870cc;
}


.tablet .WeatherForecast {max-width: 300px;
min-width: 300px;
}
.tablet .WeatherForecastInformation{max-width: 50px;
  min-width: 50px;
position: relative;
top: 130px;}

  .tablet .WeatherForecast .col {max-width: 100px;
    min-width: 100px;
  padding-right: 115px;}