a,
a:hover,
a:visited {
  color: #71C6E1;
  text-decoration: none;
}

body {
  background:  #282A36;
  color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
}

footer {
  font-size: 16px;
  text-align: center;
  padding-top: 70px;
  padding-left: 20px;
  color: #f2efd0;
  white-space: nowrap;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} 
img {min-height: 80px;
  min-width: 80px;}
  
input,
textarea {
  padding: 7px;
  background: rgb(45, 48, 61);
  color: #f2efd0;
  border: 1px solid #a58b98;
  border-radius: 2px;
  font-size: 16px;
}

ul {
  list-style: none;
}

.btn {min-width: 115.47px;}

.celsiusFarenheit {
  margin-left: -10px;
font-size: 20px;}


.container {min-height: 600px;
}
.currentIcons {
margin-top: -120px;
  color: #a58b98;
  width: 135px;
}

.currentSpecifics {  color: #f2efd0;
  font-size: 17px;
  margin-left: -50px;
  margin-bottom: 70px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.dateStamp {font-size: 24px;
  font-weight: lighter;}


.hereNow {
  font-size: 35px;
}

.humidity1 {position: relative;
  bottom: 90px;
right: 15px;
font-size: 22px;
}

.icon2 {position: relative;
right: 20px;}

.iconNow {min-height: 140px;
  min-width: 140px;}

.left {float: left;}

.Loader {    margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
width: 99%;}

.right {float: right;}

.row {position: relative;
  right: 15px;
min-width: 1380px;}

.searchBar {  padding: 30px 0 0 767px;
  width: 100%;
  white-space: nowrap;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}


.submitlocations h4 {
  margin: 5px 0 0 1006px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.statusNow {font-size: 28px;
  font-weight: bolder;}
  

.tempNow {
  font-size: 50px;
  margin-top: -30px;
  margin-left: -15px;
}

.thisLocation {
 position: relative;
 right: 610px;
 bottom: 76px;
  text-align: center;
  color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.weather { border: 1px solid gray;
min-width: 1200px;
max-height: 600px;
border-radius: 5px;
margin-top: 5px;
display: flex;
}