canvas {display: block;
}

.WeatherForecast canvas {max-width: 75px;
max-height: 75px;
margin: 10px 0;
margin-left: auto;
margin-right: auto;}

.WeatherForecast {padding-top: 30px;
    text-align: center;
    margin-left: 5px;
}

.WeatherForecast .temperature {
  font-family:  'Yanone Kaffeesatz', sans-serif;
font-size: 36px;
text-align: center;
margin-left: 7px;}

.WeatherForecast .col {max-width: 205px;
padding-right: 125px;
margin-top: -40px;}


.WeatherForecastInformation .hours {font-size: 34px;
  white-space: nowrap;
    font-family:  'Yanone Kaffeesatz', sans-serif;
  margin-left: -5px;}